@keyframes icon-spin {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes translate-x {
  from {
    margin-right: -4rem;
  }
  to {
    margin-right: 0rem;
  }
}
@keyframes circle-spin {
  from {
    transfrom: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
@keyframes menu-apparition {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 50rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.inactive {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.header__return {
  color: black;
}

h1, .spinner__txt {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  color: grey;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.restaurant__card__name {
  font-size: 1.1rem;
  font-weight: 700;
}
.restaurant__card__place {
  font-size: 1.1rem;
  font-weight: 300;
}
.restaurant__card__link--color {
  color: black;
}
.restaurant__card__new {
  font-size: 0.9rem;
  font-weight: 700;
  color: #2c9c81;
}

.like--size-sm {
  font-size: 1.5rem;
}
.like--size-md {
  font-size: 2rem;
}

.menu__type h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
.menu__type--underligne {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
}

.item__tle {
  font-size: 1.1rem;
  font-weight: 700;
}
.item__sbtle {
  font-size: 1rem;
  font-weight: 400;
}
.item__logo {
  color: white;
  font-size: 1.5rem;
}

.txt-ovf-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__price {
  font-weight: 900;
}

.footer {
  color: white;
}
.footer__logo img {
  filter: invert(100%);
  height: 1.1rem;
}
.footer__link__text {
  color: white;
}

#search-area {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 5px;
  width: 40%;
  font-weight: 600;
  outline: none;
}
@media (min-width: 375px) {
  #search-area {
    width: auto;
  }
}

.btn {
  padding: 1rem;
  border: unset;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 0.2rem #d3d3d3;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  outline: none;
  margin: 1rem auto;
}
.btn--order {
  width: 50%;
}
.btn:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
  box-shadow: 0.2rem 0.2rem 0.5rem #a0a0a0;
}

.btn__like {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: black;
}
.btn__like--menu-layout {
  position: absolute;
  top: 2rem;
  left: 19.5rem;
}
.btn__like:hover {
  transition: opacity 0.5s;
  opacity: 1;
  background: linear-gradient(#9356DC, #FF79DA);
}
.btn__like:active {
  opacity: 1;
  background: linear-gradient(#9356DC, #FF79DA);
}

.like {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  mix-blend-mode: lighten;
  display: flex;
  align-items: center;
  justify-content: center;
}
.like--menu-bg-color {
  background-color: #f6f6f6;
}
.like--nobg:hover {
  transition: opacity 1s;
  opacity: 0;
}
.like--nobg:active {
  opacity: 0;
}

.header {
  width: 100%;
  height: 4rem;
}
.header__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header__return {
  position: absolute;
  left: 20px;
}

.footer-main {
  background-color: #353535;
  height: 12.5rem;
}
.footer-main.footer-position {
  position: relative;
  top: 220px;
}
@media (min-width: 700px) {
  .footer-main.footer-position {
    top: 192px;
  }
}
@media (min-width: 700px) {
  .footer-main {
    top: 192px;
    height: 8rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
}
@media (min-width: 700px) {
  .footer {
    align-items: center;
  }
}
.footer__logo {
  margin-bottom: -0.2rem;
}
.footer__link-container {
  margin-top: 1rem;
  display: block;
}
@media (min-width: 700px) {
  .footer__link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
  }
}
.footer__link {
  margin-top: 0.5rem;
}
.footer__link__icon-cutlery, .footer__link__icon-partner {
  margin-right: 0.5rem;
}
@media (min-width: 700px) {
  .footer__link {
    display: flex;
  }
}

.spinner {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 1;
  z-index: 2;
  animation: spinner 0.5s 2s forwards;
}
.spinner__container {
  display: flex;
  position: absolute;
  top: 30%;
  /*left: 33%;*/
  width: 110px;
  height: 110px;
}
.spinner__txt {
  display: flex;
}

.circle-spin {
  display: flex;
  /*position: absolute;*/
  border: 1px solid;
  border-bottom: none;
  border-right: none;
  border-radius: 100%;
  animation: 2s ease-in-out circle-spin;
}

.circle-1 {
  position: absolute;
  top: 0;
  left: 0%;
  width: 110px;
  height: 110px;
  border-color: #9356DC;
  animation-delay: 0.2s;
}

.circle-2 {
  position: absolute;
  top: 0.7%;
  left: 2.4%;
  width: 100px;
  height: 100px;
  border-color: #FF79DA;
  animation-delay: 0.4s;
  animation-direction: reverse;
}

.circle-3 {
  position: absolute;
  top: 1.05%;
  left: 4.1%;
  width: 90px;
  height: 90px;
  border-color: #9356DC;
  animation-delay: 0.6s;
}

.circle-4 {
  position: absolute;
  top: 1.4%;
  left: 6.8%;
  width: 80px;
  height: 80px;
  border-color: #FF79DA;
  animation-delay: 0.8s;
  animation-direction: reverse;
}

.search {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 0.5rem;
}
.search__icon {
  margin-right: 0.5rem;
}

.search-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
.search-result__title {
  margin: 0 2rem 0.5rem 2rem;
}
.search-result__subtitle {
  margin: 0.5rem 2rem 0.5rem 2rem;
  font-size: 0.8rem;
}

.instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5.4rem;
}
.instructions__title {
  margin: 0.4rem;
}
.instructions__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 1.8rem;
  background-color: #f6f6f6;
  margin: 0.5rem 1.25rem 0.5rem 2rem;
  height: 5rem;
  align-items: center;
}
.instructions__stage {
  display: flex;
  position: relative;
  left: -10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}
.instructions__label {
  margin-left: 1.2rem;
}
.instructions__icon {
  color: gray;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.25rem;
}
.restaurant__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant__card {
  display: flex;
  position: relative;
  height: 15.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 16px #dedede;
  margin-top: 1rem;
  width: 100%;
}
@media (min-width: 700px) {
  .restaurant__card {
    max-width: 49%;
    width: 49%;
  }
}
.restaurant__card__txt {
  margin: 1rem;
}
.restaurant__card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.restaurant__card a img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.restaurant__card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 4rem;
  padding: 0.4rem;
  text-align: center;
  z-index: 1;
  border-radius: 2px;
  background-color: #99E2D0;
}

.banner__img {
  position: absolute;
  height: 260px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 700px) {
  .banner__img {
    height: 100%;
  }
}

.menu {
  position: relative;
  top: 220px;
  width: 100%;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 40px;
}
@media (min-width: 700px) {
  .menu {
    top: 192px;
    width: 50%;
    margin: auto;
  }
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0 2rem 0;
}
.menu__type {
  padding-left: 1rem;
}
.menu__container {
  overflow: hidden;
}
.menu__container.menu-apparition {
  max-height: 0;
  animation: menu-apparition 3s 0.5s ease-in-out forwards;
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  margin: 1rem 1rem 1rem 0;
  height: 4rem;
}
.item:hover .item__logo i {
  animation: icon-spin 1s 0.2s forwards;
}
.item:hover .item__logo {
  animation: translate-x 1s forwards;
}
.item__name {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 60%;
  padding-left: 1rem;
}
.item__price {
  display: flex;
  padding-top: 1.5rem;
  margin-left: 0.5rem;
}
.item__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
  margin-right: -4rem;
}

/*# sourceMappingURL=style.css.map */
