
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

header,h1,h2 {
    font-family: 'shrihand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-family: 'shrihand', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: gray;
}



button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}